
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
Admin Test<br />

<a asp-action = "Users" asp-controller = "Moderate">Users</a><br />
<a asp-action = "Resources" asp-controller = "Moderate">Resources</a><br />
<a asp-action = "Departments" asp-controller = "Moderate">Departments</a><br />
<a asp-action = "Index" asp-controller = "PickupPoint">Users</a><br />