@using Microsoft.AspNetCore.Identity
@using ResourceManagementSystem.Domain.Model
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Hello @UserManager.GetUserAsync(User).Result.FullName</a>

    @if (new Func<bool>(() => {
        if (User.IsInRole("UserModerator")) return true;
        if (User.IsInRole("ItemModerator")) return true;
        if (User.IsInRole("DepartmentModerator")) return true;
        if (User.IsInRole("PickupPoint")) return true;
        if (User.IsInRole("Admin")) return true;
        return false;})())
    {
        <form asp-area="" asp-action="Index" asp-controller="Home" method="post">
            <select name="Panel" id="Panel" onchange="this.form.submit()">
                                                                                       <option value="@ViewData["mode"]" selected disabled hidden>@ViewData["mode"]</option>
                                                                                       <option value="User">User</option>
                @if (User.IsInRole("UserModerator") || User.IsInRole("Admin"))       { <option value="UserModerator">Users Moderator</option> }
                @if (User.IsInRole("ItemModerator") || User.IsInRole("Admin"))       { <option value="ItemModerator">Resources Moderator</option> }
                @if (User.IsInRole("DepartmentModerator") || User.IsInRole("Admin")) { <option value="DepartmentModerator">Departments Moderator</option> }
                @if (User.IsInRole("PickupPoint") || User.IsInRole("Admin"))         { <option value="PickupPoint">Pickup Point</option> }
                @if (User.IsInRole("Admin"))                                         { <option value="Admin">Admin</option> }
            </select>
        </form>
    }

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit">Logout</button>
    </form>

}

