@model ResourceManagementSystem.Application.ViewModel.Departments.DetailsEditDepartmentVM

@{
    ViewData["Title"] = "EditDepartment";
}

<h1>Edit Department</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="card">
                Users
                <div>
                    @for (int i = 0; i < Model.UsersList.Count; i++)
                    {
                        <input asp-for="UsersList[i].Id" type="hidden" />
                        <input asp-for="UsersList[i].Name" type="hidden" />
                        <input asp-for="UsersList[i].Status" type="checkbox" class="form-control" />
                        <span>@Model.UsersList[i].Id - @Model.UsersList[i].Name</span><br>
                    }
                </div>
            </div>
            <div class="card">
                Items
                <div>
                    @for (int i = 0; i < Model.ItemsList.Count; i++)
                    {
                        <input asp-for="ItemsList[i].Id" type="hidden" />
                        <input asp-for="ItemsList[i].Name" type="hidden" />
                        <input asp-for="ItemsList[i].Status" type="checkbox" class="form-control" />
                        <span>@Model.ItemsList[i].Id - @Model.ItemsList[i].Name</span><br>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

